.Nav-bar {
    position: fixed;
    width: 100%;
    padding: 20px;
    background: linear-gradient(45deg, #7df0ef, #a0eba2, #7df0ef);
    box-shadow: 0 14px 28px 0 rgba(70, 70, 70, 0.6);
  }
  
  .Nav-bar .Menu a {
    margin: 20px;
    color: black;
    text-decoration: none;
    padding: auto;
    border-radius: 10px;
    justify-content: center;
    transition: 1s;
  }
  
  .Nav-bar .Menu a:hover {
    background-color: black;
    color: white;
    transition: 1s;
  }
 /*home*/
 #home{
  background-image: url(images/image.jpg);
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding-top: 40px;
 }
 #home h2{
  color: aliceblue;
  font-size: 2.2rem;
  letter-spacing: 1px;
  margin-left: 10px;
 }

 #home p{
  width: 50%;
  color: aliceblue;
  font-size: 0.9rem;
  line-height: 25px;
  margin-left: 10px;

 }
 #home .btn{
  margin-top: 30px;
  text-align: left;

 }
 #home a{
  text-decoration: none;
  font-size: 0.9rem;
  padding: 13px 35px;
  background-color: whitesmoke;
  font-weight: 600;
  border-radius: 15px;

 }
#home a.green{
  color: azure;
  background-color: seagreen;

}
#home a.resume{
  background-image: url(images/resume.png);
  
}